name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        cpp: [g++, clang++]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: compile
      shell: bash
      run: |
        ${CPP} -o test_ellipse test_ellipse.cpp datum.cpp utm.cpp
        ${CPP} -o test_sphere test_sphere.cpp datum.cpp utm.cpp
      env:
        CPP: ${{ matrix.cpp }}
    - name: ellipse_test
      run: ./test_ellipse
    - name: sphere_test
      run: ./test_sphere